/* Font */
@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Josefin+Sans:wght@300&family=Sacramento&family=Spartan:wght@600&display=swap');
/* 
(p)font-family: 'Faustina', serif;
(head)font-family: 'Josefin Sans', sans-serif;
(h1)font-family: 'Spartan', sans-serif;
(h2)font-family: 'Sacramento', cursive;*/

/* Mobile */
/* || text styling*/
h1 {
	font-family: 'Spartan', sans-serif;
	font-size: 48px;
	color: white;
}

h2 {
	font-family: 'Sacramento', cursive;
}

a {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

p,
a,
li {
	font-family: 'Faustina', serif;
}

li {
	font-size: 15px;
	
}

p {
	font-size: 20px;
}

/*|| Structure */


body {
	background-image: url(images/full-bloom.png);
	margin: 0;
}


.wrapperA {
	width: 75%;
	height: auto;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.item {
	display: flex ;
	flex-direction: column;
	justify-content: center;
}

/*--Elements----*/
a {
	text-decoration: none;
}
nav a:link {
	color: wheat;
}

nav a:visited {
	color: wheat;
}

nav a:hover {
	color: gray;
}

nav a:active {
	color: #FFBF53;
}



/*-----Layout----*/
nav {
	background-color: #FF9631;
	text-align: center;
}

header {
	background-image: linear-gradient(
		to bottom, transparent, #FAFAFA
	  ), url("images/wild-sea.png");
	background-repeat: repeat;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	
}

iframe {
	width: 100%;
	
}

.cont {
	background-color: rgb(255, 205, 94);
	padding: 20px;
	border-radius: 25px;
	text-align: center;
}

section {
	
	padding: 10px;
}

section h3 {
	text-align: center;
	margin: auto;
}

section li {
	text-align: left;
	margin: auto;
}

.title h1 {
	text-align: center;
	margin: inherit;
}


/* Desktop */
@media all and (min-width: 1000px){
	.item {
		flex-direction: row;
	}
}