/* Font */
@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Josefin+Sans:wght@300&family=Sacramento&family=Spartan:wght@600&display=swap');
/* 
(p)font-family: 'Faustina', serif;
(head)font-family: 'Josefin Sans', sans-serif;
(h1)font-family: 'Spartan', sans-serif;
(h2)font-family: 'Sacramento', cursive;*/

/* Mobile */
/* || text styling*/
h1 {
	font-family: 'Spartan', sans-serif;
	font-size: 48px;
	color: white;
}

h2 {
	font-family: 'Sacramento', cursive;
}

a {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

p,
a,
li {
	font-family: 'Faustina', serif;
}

li {
	font-size: 15px;

}

p {
	font-size: 20px;
}

/*|| Structure */

header {
	padding-top: 100px;
	background-image: linear-gradient(to bottom, transparent, #FAFAFA), url("images/wild-sea.png");
	background-repeat: repeat;
	border-bottom: 7px solid #FF9631;
}

nav {
	background-color: #FF9631;
	padding: 10px;

	text-align: center;


}

/* background-color: rgb(255, 205, 94);
	padding: 20px;
	border-radius: 25px;
	text-align: center;
}*/
img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;

}

body {
	background-image: url(images/full-bloom.png);
	margin: 0;
}

.cont {
	background-color: rgb(255, 205, 94);
	padding: 20px;
	border-radius: 25px;
	text-align: center;
}

.wrapperA {
	width: 75%;
	height: auto;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

iframe {
	width: 100%;

}

.title h1 {
	text-align: center;
	margin: inherit;
}

section h3 {
	text-align: center;
	margin: auto;
}

section li {
	text-align: left;
	margin: auto;
}

/*--Elements----*/
nav a {
	text-decoration: none;
}

nav a:link {
	color: wheat;
}

nav a:visited {
	color: wheat;
}

nav a:hover {
	color: gray;
}

nav a:active {
	color: #FFBF53;
}

a:link {
	color: blue;
}

a:visited {
	color: black;
}

a:hover {
	color: red;
}

a:active {
	color: wheat;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Desktop */
@media all and (min-width: 1000px) {
	.item {
		flex-direction: row;
	}
}